.container {
   height: 100%;
   font-family: "eightbit";
   overflow: auto;
}

.container::-webkit-scrollbar {
   width: 0.5em;
}

.container::-webkit-scrollbar-track {
   background-color: black;
}

.container::-webkit-scrollbar-thumb {
   background-color: white;
}

.return_button {
   font-size: 25px;
   padding: 5px;
}

.loading_text_container {
   height: 80%;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.loading_text {
   font-size: 50px;
}
