.outer {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 800px;
   width: 1000px;
   background-color: grey;
   z-index: 1;
}

.inner {
   height: 675px;
   width: 875px;
   background-color: rgb(7, 179, 64);
   z-index: 0;
}
